@model Domain.Entidades.Cadastro.Vacina


@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h3>Cadastro de Vacinas</h3>
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.Label("Descrição", new { @class = "control-label col-md-2" })
            <div class="col-md-10" style="width: 500px">
                @Html.TextBoxFor(model => model.Descricao, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Descricao)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Intervalo de Dias", new { @class = "control-label col-md-2" })
            <div class="col-md-10" style="width: 500px">
                @Html.TextBoxFor(model => model.IntervaloDias, new { @class = "form-control", @type = "number" })
                @Html.ValidationMessageFor(model => model.IntervaloDias)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Doses", new { @class = "control-label col-md-2" })
            <div class="col-md-10" style="width: 500px">
                @Html.TextBoxFor(model => model.Doses, new { @class = "form-control", @type = "number" })
                @Html.ValidationMessageFor(model => model.Doses)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar", "Index")
</div>

