@model Domain.Entidades.Operacao.Atendimento


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modalform")
    <script type="text/javascript">
        (function () {
            $.validator.methods.date = function (value, element) {
                return this.optional(element) || Globalize.parseDate(value, 'dd/MM/yyyy') !== null;
            }
        })();
    </script>
}

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h3>Finalizar Atendimento?</h3>
        <div class="modal-footer">
            <input class="btn btn-danger" type="submit" value="Confirmar" />
            <button class="btn " data-dismiss="modal">Cancelar</button>
        </div>

        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group" style="display: none">
            @Html.DropDownList("AnimalId", String.Empty)
            @Html.ValidationMessageFor(model => model.AnimalId)
        </div>

        <div class="form-group" style="display: none">
            @Html.LabelFor(model => model.DataEntrada, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DataEntrada, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DataEntrada)
            </div>
        </div>
        <div class="form-group" style="display: none">
            @Html.LabelFor(model => model.DataSaida, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DataSaida, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DataSaida)
            </div>
        </div>
        <div class="form-group" style="display: none">
            @Html.LabelFor(model => model.Situacao, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Situacao, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Situacao)
            </div>
        </div>
        <div class="form-group" style="display: none">
            @Html.LabelFor(model => model.HoraAtendimento, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HoraAtendimento, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.HoraAtendimento)
            </div>
        </div>
        <div class="form-group" style="display: none">
            @Html.LabelFor(model => model.ValorAtendimento, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ValorAtendimento, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ValorAtendimento)
            </div>
        </div>

        <div class="form-group " style="display: none">
    @Html.Label("Observações", new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.TextAreaFor(model => model.Observacao, new { @class = "form-control", style = "width: 500px; max-width: 455px; height: 300px; max-height:500px " })
        @Html.ValidationMessageFor(model => model.Observacao)
    </div>
</div>

    </div>
}
