@model Domain.Entidades.Cadastro.Cliente
<link href="~/Content/form-bootstrap-override.css" rel="stylesheet" />

@using (Html.BeginForm())
{
    <div class="row" style="margin-left: 10px">
        <h2>Edição</h2>
        @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-danger" })
        <input type="submit" value="Salvar" class="btn btn-success" />
    </div>
    <hr />

    <div class="container  col-sm-10 col-md-9">
        @Html.HiddenFor(model => model.Id)

        <div class="form-group row">
            <label class="col-sm-4 col-md-3 col-lg-2">Nome</label>
            <div class="input-group col-sm-8 col-md-9 col-lg-10">
                <span class="input-group-addon">
                    <i class="fa fa-user"></i>
                </span>
                @Html.TextBoxFor(model => model.Nome, new { @class = "form-control", id = "input", placeholder = "Nome do cliente" })
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-4 col-md-3 col-lg-2">CPF</label>
            <div class="input-group col-sm-8 col-md-9 col-lg-10">
                <span class="input-group-addon">
                    <i class="fa fa-id-card"></i>
                </span>
                @Html.TextBoxFor(model => model.CpfCnpj, new { @class = "form-control", id = "cpf", placeholder = "Cpf ou Cnpj do cliente" })
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-4 col-md-3 col-lg-2">RG</label>
            <div class="input-group col-sm-8 col-md-9 col-lg-10">
                <span class="input-group-addon">
                    <i class="fa fa-id-card"></i>
                </span>
                @Html.TextBoxFor(model => model.RgIe, new { @class = "form-control", placeholder = "RG ou IE do cliente" })
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-4 col-md-3 col-lg-2">Tipo</label>
            <div class="input-group col-sm-8 col-md-9 col-lg-10">
                <span class="input-group-addon">
                    <i class="fa fa-id-card"></i>
                </span>
                @Html.DropDownListFor(model => model.TipoPessoa,
                    new List<SelectListItem>{
                        new SelectListItem{Text = "Física",Value = "F",  Selected = true},
                        new SelectListItem{Text = "Jurídica",Value = "J"}
                    }, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-4 col-md-3 col-lg-2">Sexo</label>
            <div class="input-group col-sm-8 col-md-9 col-lg-10">
                <span class="input-group-addon">
                    <i class="fa fa-venus-mars"></i>
                </span>
                @Html.DropDownListFor(model => model.Sexo,
                        new List<SelectListItem>{
                            new SelectListItem{Text = "Masculino",Value = "M",  Selected = true},
                            new SelectListItem{Text = "Feminino",Value = "F"}
                        }, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-4 col-md-3 col-lg-2">Email</label>
            <div class="input-group col-sm-8 col-md-9 col-lg-10">
                <span class="input-group-addon">
                    <i class="fa fa-envelope"></i>
                </span>
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "email@email.com" })
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-4 col-md-3 col-lg-2">Data Nascimento</label>
            <div class="input-group col-sm-8 col-md-9 col-lg-10">
                <span class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </span>
                @Html.EditorFor(model => model.DataNascimento)
                @Html.ValidationMessageFor(model => model.DataNascimento)
            </div>
        </div>
    </div>
}



<div class="row">
    <div class="col-md-offset-1 col-md-5">
        @{ Html.RenderAction("Index", "Telefone", new { id = Model.Id }); }
    </div>

</div>

<div class="row">
    <div class="col-md-offset-1 col-md-8">
        @{ Html.RenderAction("Index", "Endereco", new { id = Model.Id }); }
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modalform")
    <script type="text/javascript">
        (function () {
            $.validator.methods.date = function (value, element) {
                return this.optional(element) || Globalize.parseDate(value, 'dd/MM/yyyy') !== null;
            }
        })();
    </script>
}

