@using SisVetWeb.Helpers
@model IEnumerable<Domain.Entidades.Cadastro.Financeiro.FinanceiroPlanoDePagamento>

<h2>Lista de Planos de Pagamentos</h2>
@Html.Partial("ConfirmacaoExclusao")
<p>
    @using (Html.BeginForm("Index", "FinanceiroCentroDeCustoGrupo", FormMethod.Get)) {
        <div class="row">
            <div class="pull-right col-md-1">
                @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-plus'></span>", "Adicionar Plano de Pagamento", "Create", "FinanceiroPlanoDePagamento", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" })
            </div>

            <div class="col-md-3">
                @Html.TextBox("pesquisa", "", new { placeholder = "Pesquise...", @class = "form-control" })
            </div>
            <div class="col-md-2">
                <input type="submit" value="Filtrar" class="btn btn-primary pull-left" />
            </div>
        </div>

    }
</p>
<table class="table table-condensed table-hover">
    <tr>
        <th>
            Descricao
        </th>
        <th>
            Quantidade de Parcelas
        </th>
        <th>
           Intervalo Dias
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr id="row-@item.Id">
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantidadeParcelas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IntervaloDias)
            </td>

            <td class="col-sm-2">
                <div class="pull-right">
                    @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-pencil'></span>", "Editar", "Edit", "FinanceiroPlanoDePagamento", routeValues: new { ID = item.Id }, htmlAttributes: new { data_modal = "", @class = "btn btn-default" })
                    &nbsp;
                    <button type="submit" class="btn btn-default btn-danger" id="@item.Id" name="@item.Descricao">
                        <i class="glyphicon glyphicon-trash"></i>
                    </button>
                </div>
            </td>
        </tr>
    }

</table>
