@model Domain.Entidades.Cadastro.Raca

@{
    ViewBag.Title = "Edit";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h3>Raca</h3>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.Label("Descrição", new { @class = "control-label col-md-2" })
            <div class="col-md-10" style="width: 500px">
                @Html.TextBoxFor(model => model.Descricao, new { @class = "form-control", id = "input" })
                @Html.ValidationMessageFor(model => model.Descricao)
            </div>
        </div>
        @*<div class="form-group">
            @Html.DropDownList("EspecieId",String.Empty)
            @Html.ValidationMessageFor(model => model.EspecieId)
        </div>*@
        <div class="form-group">
            @Html.Label("Espécie", new { @class = "control-label col-md-2" })
            <div class="col-md-10" style="width: 500px">
                @Html.DropDownList("EspecieID", (IEnumerable<SelectListItem>)ViewBag.Especies, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
