@using SisVetWeb.Helpers
@model PagedList.IPagedList<Domain.Entidades.Cadastro.Raca>
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
}

<h2>Lista de Raças</h2>

<p>
    @using (Html.BeginForm("Index", "Raca", FormMethod.Get)) {
        <div class="row">
            <div class="pull-right col-md-1">
                @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-plus'></span>", "Adicionar Raça", "Create", "Raca", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" })
            </div>

            <div class="col-md-3">
                @Html.TextBox("pesquisa", "", new { placeholder = "Pesquise...", @class = "form-control" })
            </div>
            <div class="col-md-2">
                <input type="submit" value="Filtrar" class="btn btn-primary pull-left" />
            </div>
        </div>

    }
</p>


<table class="table table-hover table-condensed">
    <tr class="active">
        <th>
            @Html.ActionLink("Id", "Index", new { ordenacao = ViewBag.IdParam, pesquisa = ViewBag.pesquisaCorrente, tipoPesquisa = ViewBag.tipoPesquisa })
        </th>
        <th>
            @Html.ActionLink("Raça", "Index", new { ordenacao = ViewBag.NomeParam, pesquisa = ViewBag.pesquisaCorrente, tipoPesquisa = ViewBag.tipoPesquisa })
        </th>
        <th>
            Espécie
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Especie.Descricao)
            </td>
            <td>
                <div class="pull-right">
                    @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-pencil'></span>", "Editar", "Edit", "Raca", routeValues: new { Id = item.Id }, htmlAttributes: new { data_modal = "", @class = "btn btn-xs btn-default" })
                    &nbsp;
                    @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-search'></span>", "Detalhar", "Details", "Raca", routeValues: new { Id = item.Id }, htmlAttributes: new { data_modal = "", @class = "btn btn-xs btn-default" })
                </div>
            </td>
        </tr>
    }

</table>
Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
@Html.PagedListPager(Model, pagina => Url.Action("Index", new { pagina, ordenacao = ViewBag.ordenacaoCorrente, pesquisa = ViewBag.pesquisaCorrente }))