@using System.Data.Entity.Core.Common.CommandTrees.ExpressionBuilder
@model Domain.Entidades.Cadastro.Animal

@{
    ViewBag.Title = "Create";
}

<h2>Cadastro Animal</h2>


@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Nome, new { @class = "control-label col-md-2" })
            <div class="col-md-10" style="width:500px;">
                @Html.TextBoxFor(model => model.Nome, new { @class = "form-control", id = "input" })
                @Html.ValidationMessageFor(model => model.Nome)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Pelagem, new { @class = "control-label col-md-2" })
            <div class="col-md-10" style="width:500px;">
                @Html.TextBoxFor(model => model.Pelagem, new { @class = "form-control", id = "input" })
                @Html.ValidationMessageFor(model => model.Pelagem)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DataNascimento, new { @class = "control-label col-md-2" })

            @*@Html.EditorFor(model => model.DataNascimento, new { @class = "form-control form-control" })*@
            <div class="col-md-5 col-lg-pull-0" style="width:500px;">
                <input class="form-control" data-val="true" data-val-date="Formato incorreto no campo Data de Nascimento." data-val-required="O campo Data de Nascimento é obrigatório." id="DataNascimento" name="DataNascimento" type="date" value="13/08/2015" onblur="calculaIdade()">
                @Html.ValidationMessageFor(model => model.DataNascimento)
            </div>

            <div class="col-md-3 col-sm-pull-2">
                @Html.Label(" ", new { @id = "idade" })
            </div>

        </div>

        <div class="form-group">
            @Html.Label("Raça", new { @class = "control-label col-md-2" })
            <div class="col-md-10" style="width:500px;">
                @Html.DropDownList("RacaID", (IEnumerable<SelectListItem>)ViewBag.RacaID, "Selecione...", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Raca)
            </div>

        </div>

        <div class="form-group">
            @Html.Label("Proprietário", new { @class = "control-label col-md-2" })
            <div class="col-md-10" style="width:500px;">
                @Html.DropDownList("ClienteID", (IEnumerable<SelectListItem>)ViewBag.ClienteID, "Selecione...", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ClienteId)
            </div>

        </div>


        <div class="form-group">
            @Html.Label("Sexo", new { @class = "control-label col-md-2" })
            <div class="col-md-10" style="width:500px;">
                @Html.DropDownListFor(model => model.Sexo,
                new List<SelectListItem>{
                    new SelectListItem{Text = "Macho",Value = "M",Selected = true},
                    new SelectListItem{Text = "Fêmea",Value="F"}
                }, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Castrado, new { @class = "control-label col-md-2" })
            <div class="col-md-10" style="width:500px;">
                @Html.EditorFor(model => model.Castrado, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Castrado)
            </div>
        </div>


        <div class="form-group">
            @Html.Label("Óbito", new { @class = "control-label col-md-2" })
            <div class="col-md-8" style="width:500px;">
                @Html.EditorFor(model => model.Obito, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Obito)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Observação", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Observacao, new { @class = "form-control", style = "width: 500px; max-width: 500px; height: 300px; max-height:500px ", id = "observacao", placeholder = "Pressione F2 para inserir a data atual", spellcheck = "false" })
                @Html.ValidationMessageFor(model => model.Observacao)
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Confirmar" class="btn btn-success" />
            </div>
        </div>


    </div>
}

<div>
    @Html.ActionLink("Voltar", "Index", new { @class = "btn btn-default" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/utilsMath")
    <script type="text/javascript">
        (function () {
            $.validator.methods.date = function (value, element) {
                return this.optional(element) || Globalize.parseDate(value, 'dd/MM/yyyy') !== null;
            }
        })();
    </script>
}
