@model Domain.Entidades.Cadastro.Animal


<h2>Detalhes</h2>

<div>
    <h4>Animal</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => Model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Raca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Raca.Descricao)
        </dd>
        <dt>
            @Html.DisplayName("Proprietário")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pelagem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pelagem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Castrado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Castrado)
        </dd>

       
        <dt>
            @Html.DisplayNameFor(model => model.Obito )
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Obito)
        </dd>
        
        <dt>
            @Html.DisplayName("Observação")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observacao)
        </dd>


    </dl>
</div>
<p>
    
    @Html.ActionLink("Voltar", "Index")
</p>
