@using System.Globalization
@model SisVetWeb.Models.InformacaoDeParcelaViewModel

@using (Html.BeginForm("CancelarBaixa", "FinanceiroContasReceber"))
{
    <div>
        <span><img src="\Images\arrow-right.png" /> Recebimento</span>
    </div>

    <label>Dados da parcela</label>

    <table id="demostrativo-table-cabecalho" cellpadding="5">
        <tr>
            <td class="demostrativo-parcelas-cabecalho-label fonte">Cliente: </td>
            <td class="demostrativo-parcelas-cabecalho-value fonte">@Model.NomeCliente</td>
        </tr>
        <tr>
            <td class="demostrativo-parcelas-cabecalho-label fonte">Número Documento: </td>
            <td class="demostrativo-parcelas-cabecalho-value fonte">@Model.NumeroDocumento</td>
        </tr>
        <tr>
            <td id="demostrativo-parcelas-cabecalho-label-total" class="fonte">Data Vencimento: </td>
            <td id="demostrativo-parcelas-cabecalho-value-total" class="fonte">@Model.DataVencimento.ToString("D", new CultureInfo("pt-BR"))</td>
        </tr>
        <tr>
            <td id="demostrativo-parcelas-cabecalho-label-total" class="fonte">Data Recebimento: </td>
            <td id="demostrativo-parcelas-cabecalho-value-total" class="fonte">@Model.DataRecebimento.ToString("D", new CultureInfo("pt-BR"))</td>
        </tr>
        <tr>
            <td id="demostrativo-parcelas-cabecalho-label-total" class="fonte">Valor Total: </td>
            <td id="demostrativo-parcelas-cabecalho-value-total" class="fonte">@Model.ValorTotalLiquido.ToString("N")</td>           
        </tr>
    </table>
    
    //Campo retornado no corpo juntamente com a data de recebimento digitado
    @Html.HiddenFor(x => x.ParcelaId)
    <hr />
    <div class="row" style="padding-left: 10px">
        @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-danger" })
        <input type="submit" value="Cancelar Baixa" class="btn btn-success" />
    </div>

}