@model SisVetWeb.Models.FinanceiroDemonstrativoDeParcelasViewModel
<link href="~/Content/contasReceberDemostrativo.css" rel="stylesheet" />

@{ TempData["FullModel"] = Model; }

@using (Html.BeginForm("Confirmar", "FinanceiroContasReceber", FormMethod.Post)) {
    <h1>Parcelas Geradas</h1>
    <hr />
    <button id="btn-alterar-documento" class="btn btn-info">Alterar</button>
    <table id="demostrativo-table-cabecalho" cellpadding="5">
        <tr>
            <td class="demostrativo-parcelas-cabecalho-label fonte">Cliente: </td>
            <td class="demostrativo-parcelas-cabecalho-value fonte">@Model.NomeCliente</td>
        </tr>
        <tr>
            <td class="demostrativo-parcelas-cabecalho-label fonte">Forma Pagamento: </td>
            <td class="demostrativo-parcelas-cabecalho-value fonte">@Model.DescricaoPlanoPagamento</td>
        </tr>
        <tr id="linha-total">
            <td id="demostrativo-parcelas-cabecalho-label-total" class="fonte">Total: </td>
            <td id="demostrativo-parcelas-cabecalho-value-total" class="fonte">R$ @string.Format("{0:N}", @Model.ValorTotal)</td>
        </tr>
    </table>
    <table class="table table-condensed ">
        <tr class="info-documento-row">
            <th class="text-center demostrativo-info-documento fonte">Parcela</th>
            <th class="text-center demostrativo-info-documento fonte">Número Documento</th>
            <th class="text-center demostrativo-info-documento fonte">Valor</th>
            <th class="text-center demostrativo-info-documento fonte">Vencimento</th>
        </tr>
        @foreach (var item in Model.FinanceiroContasReceberParcelasList) {
            <tr>
                <td class="text-center col-sm-1">
                    @Html.DisplayFor(modelItem => item.Parcela)
                </td>
                <td class="text-center col-sm-3">
                    @Html.DisplayFor(modelItem => item.NumeroDocumento)
                </td>
                <td class="col-sm-2 text-center">
                    @Html.DisplayFor(modelItem => item.ValorTotalBruto)
                </td>
                <td class="col-sm-1 text-center">
                    @Html.FormatValue(Convert.ChangeType(item.DataVencimento, typeof(object)), "{0: dd/MM/yyyy}")
                </td>
            </tr>
        }
    </table>


    <div class="form-group">
        <div class="pull-right">
            <button class="btn btn-danger">Cancelar</button>
            <input type="submit" value="Confirmar" class="btn btn-success" />
        </div>
    </div>
}

<script>
    document.getElementById('btn-alterar-documento').addEventListener('click', onClickDelegate, false);
    function onClickDelegate() {
        window.history.go(-1);
    }
</script>


