@model Domain.Entidades.Operacao.Financeiro.FinanceiroTipoRecebimento

<h3>Inclusão Contas Receber</h3>

<link href="~/Content/combobox.css" rel="stylesheet" />

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.Label("Cliente", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ClienteId", (IEnumerable<SelectListItem>)ViewBag.ClienteId, "Selecione...", new { @class = "form-control combobox" })
                @Html.ValidationMessageFor(model => model.ClienteId)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Centro de Custo", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("FinanceiroCentroDeCustoId", (IEnumerable<SelectListItem>)ViewBag.CentroCustoId, "Selecione...", new { @class = "form-control combobox", required = "", title = "Este campo é obrigatório!" })
                <span class="field-validation-valid" data-valmsg-for="FinanceiroCentroDeCustoId" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Forma Pagamento", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("FinanceiroPlanoDePagamentoId", (IEnumerable<SelectListItem>)ViewBag.FormaPagamentoId, "Selecione...", new { @class = "form-control combobox" })
                @Html.ValidationMessageFor(model => model.FinanceiroPlanoDePagamentoId)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="DataEmissao">Emissão</label>
            <div class="col-md-5 col-lg-pull-0" style="width:500px;">
                <input class="form-control" id="DataEmissao" name="DataEmissao" type="date" required title="Este campo é obrigatório">
                <span class="field-validation-valid" data-valmsg-for="DataEmissao" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="quantidadeParcelas">Quantidade Parcelas</label>
            <div class="col-md-10" style="width: 500px">
                <input class="form-control" id="quantidadeParcelas" name="quantidadeParcelas" type="number" required title="Este campo é obrigatório" value="" />
                <span class="field-validation-valid" data-valmsg-for="quantidadeParcelas" data-valmsg-replace="true"></span>
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-md-2" for="ValorTotal">Valor</label>
            <div class="col-md-10" style="width: 500px">
                <input class="form-control" id="ValorTotal" name="ValorTotal" type="text" required title="Este campo é obrigatório" value="" />
                <span class="field-validation-valid" data-valmsg-for="ValorTotal" data-valmsg-replace="true"></span>

            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Observacao">Oberva&#231;&#245;es</label>
            <div class="col-md-10" style="width: 500px">
                <textarea class="form-control " cols="20" id="Observacao" name="Observacao" rows="2" style="width: 470px; max-width: 470px; height: 200px; max-height:200px "></textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Confirmar" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar", "Index")
</div>
@section Scripts {
    <script src="~/Scripts/jquery.combobox.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/validacao")
    <script type="text/javascript">
        (function () {
            $.validator.methods.date = function (value, element) {
                return this.optional(element) || Globalize.parseDate(value, 'dd/MM/yyyy') !== null;
            };
        })();
       
    </script>
}
