@model Domain.Entidades.Operacao.Financeiro.FinanceiroTipoRecebimento

<h3>Inclusão Contas Receber</h3>

<link href="~/Content/combobox.css" rel="stylesheet" />

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)



        <div class="form-group">
            @Html.Label("Cliente", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ClienteId", (IEnumerable<SelectListItem>)ViewBag.ClienteId, "Selecione...", new { @class = "form-control combobox" })
                @Html.ValidationMessageFor(model => model.ClienteId)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Centro de Custo", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("FinanceiroCentroDeCustoId", (IEnumerable<SelectListItem>)ViewBag.CentroCustoId, "Selecione...", new { @class = "form-control combobox" })
                @Html.ValidationMessageFor(model => model.FinanceiroCentroDeCustoId)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Forma Pagamento", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("FinanceiroPlanoDePagamentoId", (IEnumerable<SelectListItem>)ViewBag.FormaPagamentoId, "Selecione...", new { @class = "form-control combobox" })
                @Html.ValidationMessageFor(model => model.FinanceiroPlanoDePagamentoId)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Emissão", new { @class = "control-label col-md-2" })

            @*@Html.EditorFor(model => model.DataNascimento, new { @class = "form-control form-control" })*@
            <div class="col-md-5 col-lg-pull-0" style="width:500px;">
                <input class="form-control" data-val="true" data-val-date="Formato incorreto no campo Data de Emissão." data-val-required="O campo Data de Emissão é obrigatório." id="DataEmissao" name="DataEmissao" type="date">
                @Html.ValidationMessageFor(model => model.DataEmissao)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Quantidade Parcelas", new { @class = "control-label col-md-2" })
            <div class="col-md-10" style="width: 500px">
                @Html.TextBox("quantidadeParcelas", "", new { @class = "form-control", @type = "number" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Valor", new { @class = "control-label col-md-2" })
            <div class="col-md-10" style="width: 500px">
                @Html.TextBoxFor(model => model.ValorTotal, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ValorTotal)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Obervações", new { @class = "control-label col-md-2" })
            <div class="col-md-10" style="width: 500px">
                @Html.TextAreaFor(model => model.Observacao, new { @class = "form-control ", style = "width: 470px; max-width: 470px; height: 200px; max-height:200px " })
                @Html.ValidationMessageFor(model => model.Observacao)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Confirmar" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar", "Index")
</div>
@section Scripts {
    <script src="~/Scripts/jquery.combobox.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        (function () {
            $.validator.methods.date = function (value, element) {
                return this.optional(element) || Globalize.parseDate(value, 'dd/MM/yyyy') !== null;
            }
        })();
    </script>
}
