@using Domain.Enum
@using SisVetWeb.Helpers
@model SisVetWeb.Models.FinanceiroParcelasETotalizadoresViewModel
<link href="~/Content/contasReceberParcelas.css" rel="stylesheet" />

<div id="contas-receber-parcelas-corpo">
    <h2>Contas a Receber</h2>

    <div class="row">
        <div class="col-md-1 pull-left">
            @Html.DropDownList("tipoPesquisa",
                new List<SelectListItem>{
                    new SelectListItem{Text = "Abertas",Value = "Abertas",Selected = true},
                    new SelectListItem{Text = "Recebidas",Value = "Recebidas"},
                    new SelectListItem{Text = "Vencidas",Value = "Vencidas"},
                    new SelectListItem{Text = "Todas",Value = "Todas"}
                }, new { @class = "form-control" })
        </div>

        <div class="pull-right col-md-1">
            @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-plus'></span>", "Novo documento a receber", "GerarParcelasDuplicata", "FinanceiroContasReceber", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" })
        </div>
    </div>

    <table class="table table-condensed">
        <tr class="background-blue">
            <th class="text-left fonte"></th>
            <th class="text-left fonte">Status</th>
            <th class="text-left fonte">Cliente</th>
            <th class="text-center fonte">Parcela</th>
            <th class="text-center fonte">Total Parcela</th>
            <th class="text-center fonte">Emissão</th>
            <th class="text-center fonte">Vencimento</th>
            <th class="text-center fonte">Recebimento</th>
            <th class="text-center fonte">Valor</th>
            <th class="text-center fonte">Valor Recebido</th>
            <th class="text-center fonte">Ações</th>
        </tr>

        @foreach (var parcela in @Model.FinanceiroContasReceberParcelasDapperList)
        {
            <tr>
                @{
            string pathIcon = "";
            string status = "";
            string colorStatus = "";
            switch (parcela.SituacaoParcelaFinanceira)
            {
                case SituacaoParcelaFinanceira.Aberto:
                    pathIcon = "\\Images\\arrow-right.png";
                    status = "Aberta";
                    break;
                case SituacaoParcelaFinanceira.Liquidado:
                    pathIcon = "\\Images\\arrow-up.png";
                    status = "Recebida";
                    colorStatus = "Color:green";
                    break;
                case SituacaoParcelaFinanceira.Cancelado:
                    pathIcon = "\\Images\\arrow-down.png";
                    status = "Cancelada";
                    colorStatus = "Color:red";
                    break;


            }

            var isVencida = parcela.DataVencimento < DateTime.Now && parcela.SituacaoParcelaFinanceira == SituacaoParcelaFinanceira.Aberto;
            var dataRecebimento = parcela.DataRecebimento.ToString() == "01/01/0001 00:00:00" ? string.Empty : parcela.DataRecebimento.ToString("d");
            var isParcelaLiquidada = (parcela.SituacaoParcelaFinanceira == SituacaoParcelaFinanceira.Liquidado);
            var isParcelaCancelada = (parcela.SituacaoParcelaFinanceira == SituacaoParcelaFinanceira.Cancelado);
                }
                <td><img src=@(pathIcon) /></td>
                <td style="@(colorStatus)">@(status)</td>
                <td class="text-left">@string.Format("{0}-{1}", @parcela.ClienteId, @parcela.ClienteNome)</td>
                <td class="text-center">@parcela.Parcela</td>
                <td class="text-center">@parcela.TotalParcelas</td>
                <td class="text-center">@parcela.DataEmissao.ToString("d")</td>
                <td class="text-center" style="@(isVencida ? "Color:red" : "")">@parcela.DataVencimento.ToString("d")</td>
                <td class="text-center" style="@(!string.IsNullOrEmpty(dataRecebimento) ? "Color:green":"")">@(dataRecebimento)</td>
                <td class="text-center">@parcela.ValorTotalLiquido.ToString("N")</td>
                <td class="text-center">@parcela.ValorLiquidado.ToString("N")</td>
                <td class="text-center" >
                    <div class="pull-right disabled" >
                        @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-arrow-up'></span>", "Baixar parcela", "InformacaoParcelaBaixa", "FinanceiroContasReceber", routeValues: new { id = parcela.ParcelaId }, htmlAttributes: new { data_modal = "", @class = isParcelaLiquidada ? "btn btn-success btn-xs disabled" : "btn btn-xs btn-success" })
                        &nbsp;
                        @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-arrow-left'></span>", "Cancelar baixa", "InformacaoParcelaCancelamentoBaixa", "FinanceiroContasReceber", routeValues: new { id = parcela.ParcelaId }, htmlAttributes: new { data_modal = "", @class = isParcelaLiquidada ? "btn btn-xs btn-warning " : "btn btn-warning btn-xs disabled" })
                        &nbsp;
                        @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-arrow-down'></span>", "Cancelar parcela", "InformacaoParcelaCancelamento", "FinanceiroContasReceber", routeValues: new { id = parcela.ParcelaId }, htmlAttributes: new { data_modal = "", @class = "btn btn-xs btn-danger " })
                    </div>

                </td>
            </tr>
        }
    </table>
</div>
<div id="contas-receber-parcelas-rodape" class="background-blue">
    <div id="grupo-1" class="contas-receber-parcelas-rodape-totalizadores">
        <div class="fonte">
            <img src="\Images\img_exclamation_red.png" />
            <label>Vencidas</label>
            <label>R$:@Model.TotalVencidas.ToString("N")</label>
        </div>
        <div class="fonte">
            <img src="\Images\img_exclamation_green.png" />
            <label>A Vencer</label>
            <label>R$:@Model.TotalAVencer.ToString("N")</label>
        </div>
        <div class="fonte">
            <img src="\Images\img_exclamation_blue.png" />
            <label>Vence hoje</label>
            <label>R$:@Model.TotalVenceHoje.ToString("N")</label>
        </div>
    </div>

    <div id="grupo-2" class="contas-receber-parcelas-rodape-totalizadores">
        <div class="fonte">
            <img src="\Images\img_launch.png" />
            <label class="fonte">Emitidas</label>
            <label>R$:@Model.TotalEmitidas.ToString("N")</label>
        </div>
        <div class="fonte">
            <img src="\Images\img_check_ok.png" />
            <label class="fonte">Recebidas</label>
            <label>R$:@Model.TotalRecebidas.ToString("N")</label>
        </div>
    </div>
    <div id="total-geral" class="fonte">
        <label>R$</label>
        <label>@Model.TotalAReceber.ToString("N")</label>
    </div>
</div>

















