@using SisVetWeb.Helpers
@model IEnumerable<Domain.Entidades.Operacao.Financeiro.FinanceiroCentroDeCustoGrupo>
@{
    ViewBag.Title = "Lista";
}
<h2>Lista de Grupos de Centro de Custos</h2>
<p>
    @using (Html.BeginForm("Index", "FinanceiroCentroDeCustoGrupo", FormMethod.Get)) {
        <div class="row">
            <div class="pull-right col-md-1">
                @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-plus'></span>", "Adicionar Grupo Centro de Custo", "Create", "FinanceiroCentroDeCustoGrupo", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" })
            </div>

            <div class="col-md-3">
                @Html.TextBox("pesquisa", "", new { placeholder = "Pesquise...", @class = "form-control" })
            </div>
            <div class="col-md-2">
                <input type="submit" value="Filtrar" class="btn btn-primary pull-left" />
            </div>
        </div>

    }
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
            </td>
        </tr>
    }

</table>

