@model Domain.Entidades.Cadastro.TipoServico

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>Tipo de Serviços</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Descrição")
        </dt>
        <dt>
            @Html.DisplayName("Valor")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Voltar", "Index")
</p>
