@using SisVetWeb.Helpers
@model PagedList.IPagedList<Domain.Entidades.Cadastro.TipoServico>
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
}

<h3>Lista de Tipos de Serviços</h3>

<p>
    @using (Html.BeginForm("Index", "TipoServico", FormMethod.Get)) {
        <div class="row">
            <div class="pull-right col-md-1">
                @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-plus'></span>", "Adicionar Tipo Serviço", "Create", "TipoServico", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" })
            </div>

            <div class="col-md-3">
                @Html.TextBox("SearchString", "", new { placeholder = "Pesquise...", @class = "form-control" })
            </div>
            <div class="col-md-2">
                <input type="submit" value="Filtrar" class="btn btn-primary pull-left" />
            </div>
        </div>

    }
</p>

<table class="table table-hover table-condensed">
    <tr class="active">
        <th>
            @Html.ActionLink("Id", "Index", new { sortOrder = ViewBag.IdParam })
        </th>
        <th>
            @Html.ActionLink("Descrição", "Index", new { sortOrder = ViewBag.NomeParam })
        </th>
        <th>
            @Html.ActionLink("Valor", "Index", new { sortOrder = ViewBag.ValorParam })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                <div class="pull-right">
                    @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-pencil'></span>", "Editar", "Edit", "TipoServico", routeValues: new { Id = item.ID }, htmlAttributes: new { data_modal = "", @class = "btn btn-default" })
                    &nbsp;
                    @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-search'></span>", "Detalhar", "Details", "TipoServico", routeValues: new { Id = item.ID }, htmlAttributes: new { data_modal = "", @class = "btn btn-default" })
                </div>
            </td>
        </tr>
    }

</table>
Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentiFilter = ViewBag.CurrentFilter }))
